.navigation-bar-wrapper {
  background: @rpi-red-faded;
  width: 100%;
  padding: 20px 45px;
  color: @white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .logo {
    height: 50px;
  }
  p {
    margin-bottom: 0;
  }
  .navigation-content {
    margin-left: auto;
  }
}